{% extends 'base.html' %}
{% block body %}
    <div class="product-content">
        <div class="product-img">
            <img src="{{ product.img_url }}" class="prod-img-top" alt="...">
        </div>
        <div class="product-info">
            <h4>{{ product.title }}</h4>
            <h5>Price: {{ product.cost }} ₽</h5>
            <p class="product-description">category: {{ product.category }}</p>
            <p class="product-description">universe: {{ product.universe_name }}</p>
            <a class="btn btn-cart" role="button">Add to cart</a>
            <a type="submit" class="btn btn-fav">Add to wishlist</a>
            {% if is_admin %}
                <a class="btn btn-warning " role="button" data-bs-toggle="modal" href="#ModalToggleEditProduct">Edit</a>
                <a class="btn btn-danger " role="button" data-bs-toggle="modal" href="#ModalToggleDeleteProduct">Delete</a>
            {% endif %}
        </div>
    </div>
    {% include 'inc/_modaleditproduct.html' %}
    {% include 'inc/_modaldeleteproduct.html' %}
{% endblock %}
