{% extends 'base.html' %}
{% block body %}
    <div class="product-content">
        <div class="product-img">
            <img src="{{ product.img_url }}" class="prod-img-top" alt="...">
        </div>
        <div class="product-info">
            <h4>{{ product.title }}</h4>
            <h5>Price: {{ product.cost }} ₽</h5>
            <p class="product-description">category: {{ product.category }}</p>
            <p class="product-description">universe: {{ product.universe_name }}</p>
            <button type="button" class="btn btn-cart" value="{{ product.id }}">
                Add to cart
            </button>
            <button type="button" class="btn btn-fav" value="{{ product.id }}">Add to wishlist</button>
            {% if is_admin %}
                <a class="btn btn-warning " role="button" data-bs-toggle="modal" href="#ModalToggleEditProduct">Edit</a>
                <a class="btn btn-danger " role="button" data-bs-toggle="modal"
                   href="#ModalToggleDeleteProduct">Delete</a>
            {% endif %}
        </div>
    </div>
    {% include 'inc/_modaleditproduct.html' %}
    {% include 'inc/_modaldeleteproduct.html' %}

    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script>
        $(document).ready(function () {
            $('.btn-cart').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('add_to_cart') }}",
                    data: {product_id: $(this).val()}
                });
            });
            $('.btn-fav').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('add_to_fav') }}",
                    data: {product_id: $(this).val()}
                });
            });
        });
    </script>
{% endblock %}
