{% extends 'base.html' %}

{% block body %}
    <!-- Trigger the modal with a button -->
    <div class="position-absolute top-50 start-50 translate-middle">
        {% if is_auth %}
            <h2 class="text-center">Your cart</h2>
            <p class="text-center">You are auth</p>
        {% else %}
            <h2 class="text-center">You are not logged in</h2>
            <p class="text-center">To access the profile, you need to
                <a class="text-decoration-none" data-bs-toggle="modal" href="#exampleModalToggle" role="button">log
                    in</a>
                or
                <a class="text-decoration-none" data-bs-toggle="modal" href="#exampleModalToggle2"
                   role="button">register</a>
            </p>
        {% endif %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1">
        <form class="modal-dialog modal-dialog-centered needs-validation-log" method="post" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="exampleModalToggleLabel">LOG IN</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="display: grid;justify-content: center">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailLogInput" placeholder="name@example.com"
                               name="email" required>
                        <label for="emailLogInput">Email address</label>
                        <div class="invalid-feedback">
                            Correct format: name@example.com
                        </div>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="passwordLogInput" placeholder="Password"
                               name="password" required>
                        <label for="passwordLogInput">Password</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit" onclick="checkValLog()">Log In</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1">
        <form class="modal-dialog modal-dialog-centered needs-validation-reg" method="post" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="exampleModalToggleLabel2">REGISTER</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="display: grid;justify-content: center">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="firstNameInput" placeholder="First name"
                               name="first_name" required>
                        <label for="firstNameInput">First name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="secondNameInput" placeholder="Last name"
                               name="last_name" required>
                        <label for="secondNameInput">Last name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailInput" placeholder="name@example.com"
                               name="email"
                               required>
                        <label for="emailInput">Email address</label>
                        <div class="invalid-feedback">
                            Correct format: name@example.com
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="passwordInput" placeholder="Password"
                               name="password" required>
                        <label for="passwordInput">Create password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="confirmPasswordInput"
                               placeholder="Confirm password" required>
                        <label for="confirmPasswordInput">Confirm password</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit" onclick="checkValReg()">Create</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        function checkValReg() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation-reg')
            let password = document.getElementById("passwordInput")
            let confirmPassword = document.getElementById("confirmPasswordInput")
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        if (confirmPassword.value !== password.value) {
                            swal({
                                title: "Error",
                                text: "Password don't match",
                                icon: "warning",
                                buttons: {
                                    cancel: 'Ok'
                                },
                            })
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        }

        function checkValLog() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation-log')
            let password = document.getElementById("passwordLogInput")
            let isGoodPassword = /(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#$%^&*]{6,}/g
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        } else if (!isGoodPassword.test(password.value)) {
                            swal({
                                title: "Password",
                                text: "contains at least one number" + "\r\n" +
                                    "contains at least one special character" + "\r\n" +
                                    "contains at least one Latin letter in lowercase" + "\r\n" +
                                    "contains at least one Latin letter in uppercase" + "\r\n" +
                                    "consists of at least 6 characters",
                                icon: "warning",
                                buttons: {
                                    cancel: 'Ok'
                                },
                            })
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        }

    </script>
{% endblock %}