<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3"
     tabindex="-1">
    <form class="modal-dialog modal-dialog-centered needs-validation-log" method="post" novalidate>
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="exampleModalToggleLabel3">Edit profile</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="display: grid;justify-content: center">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="edit_first_name" placeholder="Name"
                           name="edit_first_name" required value="{{ first_name }}">
                    <label for="edit_first_name">First name</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="edit_last_name" placeholder="Name"
                           name="edit_last_name" value="{{ last_name }}" required>
                    <label for="edit_last_name">Last name</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit" name="edit_profile_form" onclick="checkValProfileEdit()">
                    Confirm
                </button>
            </div>
        </div>
    </form>
</div>