<div class="modal fade" id="ModalToggleDeleteProduct" aria-hidden="true" aria-labelledby="ModalToggleDeleteProduct"
     tabindex="-1">
    <form class="modal-dialog modal-dialog-centered needs-validation-log" method="post" novalidate>
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="ModalToggleDeleteProduct">Delete Product</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="display: grid;justify-content: center">
                <p>Are you sure you want to delete the product, you will not be able to restore it!</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit" name="delete_product_form">Delete</button>
            </div>
        </div>
    </form>
</div>