<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main_page') }}"><span class="main_name">ANI</span><span
                class="second_name">store</span></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav left-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"
                               onclick="location.href = '{{ url_for("category_page", category_name = 'book') }}'">Books</a>
                        </li>
                        <li><a class="dropdown-item" href="#"
                               onclick="location.href = '{{ url_for("category_page", category_name = 'figure') }}'">Figures</a>
                        </li>
                        <li><a class="dropdown-item" href="#"
                               onclick="location.href = '{{ url_for("category_page", category_name = 'cosplay') }}'">Cosplay</a>
                        </li>
                        <li><a class="dropdown-item" href="#"
                               onclick="location.href = '{{ url_for("category_page", category_name = 'snack') }}'">Snacks</a>
                        </li>
                        <li><a class="dropdown-item" href="#"
                               onclick="location.href = '{{ url_for("category_page", category_name = 'other') }}'">Other</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav right-nav">
                <li class="nav-item">
                    <a class="nav-link a-fav" href="#">
                        <iconify-icon class="icon" icon="akar-icons:heart" width="24"></iconify-icon>
                        Wishlist
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-cart" href="{{ url_for('cart_page') }}">
                        <iconify-icon class="icon" icon="bi:cart2" width="24"></iconify-icon>
                        Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-profile" href="{{ url_for('profile_page') }}">
                        <iconify-icon class="icon" icon="iconoir:profile-circled" width="24"></iconify-icon>
                        Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
